<div class="flex flexRow" style="background: rgb(13, 3, 73);">
    <div>Dodaj windę</div>
    <form name="winda" class="flexCol flex">
        <div><label>Nazwa </label><input name="nazwa" /></div>
        <div><label>Piętra </label><input name="pietra" /></div>
        <div><label>Czy towarowa </label><input name="towarowa" type="checkbox" /></div>
    </form>
    <button data-click="clickAddWinda">Dodaj</button>
</div>