<div class="flexRow flex ">
    <diw class="flex flexCol">
        <span>Nazwa </span>
    </diw>
    <diw class="flex flexCol">
        <span>Piętra </span>
    </diw>
    <diw class="flex flexCol">
        <span>Towarowa </span>
    </diw>
    <diw class="flex flexCol">
        <span>Akcja </span>
    </diw>
</div>
<hr>
<div class="scroll" style="margin-left:20px;width:98%;height:180px">
    {{#each windy}}
    <div class="flexRow flex ">
        <div class="flex flexCol">
            <span>{{nazwa}}</span>
        </div>
        <div class="flex flexCol">
            <span>{{pietra}}</span>
        </div>
        <div class="flex flexCol">
            <input type="checkbox" {{#if towarowa}}checked {{/if}} />
        </div>
        <div data-click="deleteWinda">{{@index}}
        </div>
    </div>

    <hr>
    {{/each}}
</div>