<div>A ja jesem strona 2</div>
<br>
<br>
<br>
<br>

<div data-role="view">
    <hr>
    <div class=" flex flexRow">
        <div>
            <div>{{appName}}</div>
        </div>|
        <div>
            <div>Liczab wind</div>
            <div>{{windy.length}}</div>
        </div>
    </div>
    <hr>
    <br><br>

    #windyfragm#

    <br><br>

    #formaddwinda#

    <hr>
</div>