<br>

<hr>
<div>A ja jestem fragment</div>
------------------------------------
<div class="content">
  {{#if user.isLogged }}
  <br><br>
  <div class="flex flexRow ">
    Witaj {{user.name}} !
    <button data-click="clickStart"> Pokaż windy</button>
  </div>

  {{else}}

  <br><br>
  <div class="flex flexRow ">
    Nie jesteś zalogowany
    <button data-click="clickLogin">Zaloguj</button>
  </div>

  {{/if}}
</div>