@use 'sass:math';

a,abbr,acronym,address,applet,article,aside,audio,b,big
,body,footer,header,blockquote,canvas,caption,center,cite,code,dd,del,details
,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,form,h1,h2,h3,h4,h5,h6,hgroup,html
,i,ul,li,iframe,img,ins,kbd,label,legend,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp
,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: helvetica;
	 box-sizing: border-box;
}
 
* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*stałe*/

    $colorText : #ffffff; 
    $colorPrim : #12dd0b;
    $colorErr : #ff0846;
    $colInfo : #ff9900;

    $contTxtColor: #06417f;
    $iconSelected: #0f7dc5;        

    $background: #505255;

    $bagdeSize: 18px;
	$bagdeSizeS:   math.div($bagdeSize, 2);
	$bagdeColor: #f3f3f3;
	$bagdeTextColor: #cacaca;
	$bagdeFontS: math.div($bagdeSize , 2.5);
	$bagdeActFontW: bold;
	$bagdeActTextColor: #ffffff;
	$bagdeActColor: #f30909;
	$navBck:#3e4648;
	


html, body {
    box-sizing: border-box;
    user-select: none;
    align-items:center;
    overflow:hidden;
    color:$colorText;
    background: $background;
    --webkit-overflow-scrolling: touch !important;
}

body {
       max-width: 800px;
       margin: 0 auto !important;
       float: none !important;
       z-index:0;

}

ul {
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.flexRow {
 flex-direction: row !important;
 justify-content: space-around;
	min-width:95%
}

.flexCol {
   flex-direction: column !important;
   justify-content: space-between;
   height: 50%;
}


.bg-red {
    color: red !important;
}

.bg-blue {
    color: blue !important;
}

.panel{
    width: 98%;
    height: 252px;
    background: rgb(70 80 83);
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    color:#aebde9;
    box-shadow: inset 0px 0px 2px 4px rgb(57, 48, 48);
    z-index: 0;
}


.overlay{
    width:100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    background: rgba(47, 43, 43, 0.41);
}


[data-role="page"]{
	position:absolute;
	width: 900px;
	width: 100%;
	height: 100%;
	max-width: 800px;
	justify-content: center;
	flex-direction: column;
	align-items:center;
	text-align:center;
	background: radial-gradient(ellipse at center, #617175 0%,#363d3e 100%);
	top:0;
	z-index:0;
}

[data-name="page"]{
  width:800px;
}

.flex {
	display: flex;
}

.stickyWrapper{
    padding-bottom:15px;
    background: white;
}

[data-role="view"]{
	width: 100%;
	height: 100%;
	max-width: 800px;
	justify-content: center;
	flex-direction: column;
	align-items:center;
	text-align:center;
	overflow-y:auto;
	--webkit-overflow-scrolling: touch !important;
}

[data-role="infoView"]{
    height: 53% !important;
}

//footter i nav
nav,footer{
	position: fixed;
	height: 45px;
	width: 100%;
	z-index: 2;
	max-width: 800px;
	color:$colorText;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
    background: $navBck;
}

footer {
	bottom: 0;
    border-top: solid 2px #676a67;
	}

nav {
	top: 0;
    border-bottom: solid 2px #676a67;

	}

footer .ico {
    text-align: center;
    width: 26px;
}
// end footter i nav 

.disable{
    background: lightgrey !important;
    color: darkgray !important;
}


.margin-top-1{
    margin-top: 1ex;
}

.width-100{
	width:100%;
}
.width-85{
    width:85px;
}

.textAlignCenter{
    text-align:center;
}

p{
   line-height:1;
   }	

.userselect { user-select: initial !important;	}

.noscroll{
	overflow-y: hidden;
}		

.scroll{
	overflow-y: scroll;
}	

.navMenu {
  padding-left:1ex;
  font-size:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}	

.has_nav{
    margin-top:46px; /*aby działały‚ sticky!!!*/
}

.has_footer{
  padding-bottom:92px;
}
	


[data-role="tab"]{
	flex-direction:row !important;
	justify-content:space-between;
}

li{
  list-style:none;	
}

.hidden{
	display:none !important;
}

.invisible{
    visibility: hidden !important;
}

li.row {
	border: 0;
	/* height: 140px; */
	/* min-height: 50px; */
	align-items: center;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #ffffff;
	font-size: 14px;
	padding: 0 10px;
	margin-bottom: 4px;
	width: 100%;
    max-height:90%;
}

li.row.highlighted
{
    background-color: silver;
    font-size: 16
}

li.row > ul {
  display:none;    
}

li.row.expand  ul {
  display:flex; 
}

.expand > div{
    background: gray !important;
    width:100% !important;
    color:white;
}


.message{
    position:absolute;
    top: 0;
    border: 2px solid rgba(48, 52, 58, 0.95);
    width: 100%;
    max-height: 100px;
    z-index: 3;
    border-radius: 0px 0px 5px 5px;
    max-width: 800px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.24), 0 10px 6px rgba(0, 0, 0, 0.48);
    background: rgba(77, 83, 92, 0.95);
 }

.message.animate{
	animation: messShow .3s linear forwards;
    -webkit-animation: messShow .3s linear forwards; /* dla Google Chrome, Safari, Opera 15+ */    
}
 
.messageHidden{
    z-index:3 ;
    max-width: 800px;
 }

.messageHidden.animate{
	animation: messHide .3s linear forwards;
    -webkit-animation: messHide .3s linear forwards; /* dla Google Chrome, Safari, Opera 15+ */    
}

 .messTitle{
    background: rgba(48, 52, 58, 0.95);
    border-radius: 0px 0px 0px 0px;
    padding-left:5px;
    height: 35px;
    padding-top: 5px;
    font-size: 24px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(250,251,255,0.95);
}


 .messTitle > span {
    width:90%;
    text-align:center;
    padding:5px;
    color: rgba(250,251,255,0.95);

}
 
 .messBody{
    user-select: text;
    width: 100%;
    background: rgba(77, 83, 92, 0.95);
    border-radius: 0px 0px 5px 5px;
    padding:10px;
    height:100%;
    overflow-y:auto;
    max-height: 100px;
    color: rgba(250,251,255,0.95);
 }

[data-click]{
	cursor:pointer;
}
